
.chat{
      background-color:rgb(255, 255, 255);
      height:fit-content;                        
       border:1px solid;                 
       /* border-left:2px solid;  */
       /* border-right:2px solid;  */
       /* border-bottom-left-radius:0px;    */
       /* border-top-left-radius:5%;  */
       border-color:rgb(0, 0, 0);
       align-self: flex-end;
       overflow: auto;
        border-bottom-width:0px; 
               /* border-top-right-radius:5%; */
       /* border-radius:5%; */
       height: 650px;
}
.chatPage{
  background-color:rgb(255, 255, 255);
  height:fit-content;                        
   border-top:8px solid;                 
   border-left:2px solid; 
   border-right:2px solid; 
   border-bottom-left-radius:0px;   
   border-top-left-radius:5%; 
   border-color:rgb(207, 142, 207);
   overflow: auto;
}
.sentMes{
    width:50%;
    float:right;
}
.receivedMes{ 
  width:50%;
    float:right;
}
.sentMessages{                              
text-align:center;
background-color:rgb(206, 206, 206);
margin-top:10px; 
width:flex;
padding: 5px;
margin:10px;
border-radius:20px;
border-bottom-right-radius: 0px;
color:rgb(0, 0, 0);
}
.receivedMessages{
  text-align:center;
  background-color:rgb(230, 203, 252);
  margin-top:10px; 
  width:flex;
  padding: 5px;
  margin:10px;
  border-radius:20px;
  border-top-left-radius: 0px;
  color:rgb(0, 0, 0);
}
.receivedTime{
  font-size:12px;
}
.sentTime{
font-size:12px;
}
.textArea{
height:0px;
width:calc(100% - 150px);
background-color:white;
border:1px solid purple;
padding: 0px 18px;
outline: none;
font-size:15px;
border-radius:10px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
